* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.split-container {
  display: flex;
  width: 100%;
  align-items: flex-start; 
  margin-top: 20px;
}


.left-panel {
  width: 420px;          
  padding: 20px;
  text-align: left;
}

.left-panel h4 {
  margin-bottom: 15px;
}

.left-panel input[type="file"] {
  display: block;
  margin-bottom: 15px;
}

.right-panel {
  flex: 1;               
  padding: 20px;
  text-align: left;
}


select {
  padding: 4px 6px;
}


.header-row {
  display: grid;
  grid-template-columns: 1fr 100px 1fr 100px 60px;
  gap: 10px;
  font-weight: bold;
  margin: 10px 0;
}

.header-row.table {
  grid-template-columns: 1fr 120px 60px;
}


input[type="text"],
input {
  padding: 6px;
  width: 100%;
}


.icon-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

.icon-btn.delete {
  color: red;
}

.icon-btn.add {
  color: rgb(20, 5, 231);
  margin-top: 10px;
}


.field-row{
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}


.field-row {
  grid-template-columns: 1fr 100px 1fr 100px 60px;
}


.table-row {
  display: grid;
  grid-template-columns: 3fr 1fr 60px;
  gap: 10px;
  margin-bottom: 8px;
  align-items: center;
}


.blank-dropdown {
  margin-top: 15px;
}
